<div class="container">
  <h1 style="color:white">Enjoy our restaurants :</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li style="color:grey"><%= link_to restaurant.name, restaurant_path(restaurant), class: "li-element" %></li>
    <% end %>
  </ul>

  <%= link_to "Add a new restaurant", new_restaurant_path %>
  </div>
